{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li style="display: flex">
			<a href="/venues/{{ venue.id }}" style = "width: 200px">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<button style = "background-color:red" class="deleteButton" data-id="{{ venue.id }}">Delete</button>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.deleteButton');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const itemId = this.getAttribute('data-id');
                fetch(`/venues/delete/${itemId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert(data.message);
                        location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
{% endblock %}